version: "3.9"

services:
  backend:
    build: ./backend
    container_name: laravel_app
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env.docker
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_backend
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: lost_found
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravelpassword
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network: